<main role="main">
    <section class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="offset-2 col-md-8">
                    <form method="post" action="/upload" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="caption">キャプション</label>
                            <input type="text" class="form-control" id="caption" name="caption" placeholder="caption">
                        </div>
                        <div class="form-group">
                            <label for="File">画像</label>
                            <input type="file" class="form-control-file" name="file" id="File">
                        </div>
                        <button type="submit" class="btn btn-primary">送信する</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <% if flash[:status] %>
        <div class="alert alert-<%= flash[:status] %> alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong><%= h flash[:status] %></strong> <%= h flash[:message] %>
        </div>
    <% end %>
    <div class="album py-5 bg-light">
        <div class="container">
            <% @contents.each do |c| %>
                <div class="row">
                    <div class="offset-2 col-md-8">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="<%= c[:image_path] %>" alt="image">
                            <div class="card-body">
                                <h5 class="card-title"><b><%= h c[:user][:name] %></b></h5>
                                <p class="card-text"><%= h c[:caption] %></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted"><%= h c[:content_created_at].strftime("%Y-%m-%d %H:%M:%S") %></small>
                                </div>
                                <h6 class="mt-5"><b><i class="fa fa-comment"></i> コメント</b></h6>
                                <% c[:comments].each do |c_comment| %>
                                    <div class="mb-3 comment">
                                        <h6 class="card-title"><b><%= h c_comment[:user][:name]%></b></h6>
                                        <p class="card-text"><%= h c_comment[:text]%></p>
                                    </div>
                                <% end %>
                                <form method="post" action="/comment">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="text" placeholder="コメントの投稿">
                                        <input type="hidden" name="content_id" value="<%= c[:content_id] %>">
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-primary">投稿</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</main>
